# Django
DJANGO_SECRET_KEY=django-insecure-change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,*

# Database
DATABASE_URL=postgres://auth_user:secret_password@db:5432/auth_db
POSTGRES_DB=auth_db
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=secret_password

# Token
AUTH_TOKEN_EXPIRY_HOURS=24